
@{ ViewBag.Title = "Index"; }


<!-- Page content -->

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Tổng danh mục</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush data-product">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" style="text-align: center;">Ảnh đại diện</th>
                                <th scope="col" style="text-align: center;">Tên Sản phẩm</th>
                                <th scope="col" style="text-align: center;">Gía bán</th>
                                <th scope="col" style="text-align: center;">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in ViewBag.listProduct)
                            {
                <tr>
                    <th>
                        <img style="height: 50px; width: auto;" src="@product.thumbnail ">
                    </th>
                    <td style="text-align: center;">@product.name</td>
                    <td style="text-align: center;"> @product.price </td>
                    <td style="text-align: center;">
                        <a href="#" class="btn btn-primary"><i class="ni ni-ruler-pencil" onclick="tranToPageUpdateProduct('@product.id')"></i></a>
                        <a href="#" class="btn btn-danger btn_remove_category" data-idcategory="#"><i class="ni ni-basket" onclick="DeleteProduct('@product.id')"></i></a>
                    </td>
                </tr>}
                        </tbody>
                    </table>
                    <div class="paginationProduct">
                        <ul id="paginationProductId" class="d-flex justify-content-end pagination pagination-lg mr-2">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
