@using Project.Models;
@model IEnumerable<Project.Models.Product>

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--================Category Product Area =================-->
<section class="cat_product_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Browse Categories</h3>
                        </div>
                        <div class="widgets_inner">

                            @foreach (Category category in (List<Category>)ViewData["listCategoryName"])
                            {

                                <ul class="list">
                                    <li>
                                      
                                        <a href="/Product/Category?categoryName=@category.id">@category.name</a>
                                        <span>@Model.Count()</span>
                                          
                                    </li>

                                </ul>
                            }

                        </div>
                    </aside>



                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product_top_bar d-flex justify-content-between align-items-center">
                            <div class="single_product_menu">
                                <p><span>@Model.Count()</span> Prodict Found</p>
                            </div>
                            <div class="single_product_menu d-flex">
                                <h5>short by : </h5>
                                <select>
                                    <option data-display="Select">name</option>
                                    <option value="1">price</option>
                                    <option value="2">product</option>
                                </select>
                            </div>
                            <div class="single_product_menu d-flex">
                                <h5>show :</h5>
                                <div class="top_pageniation">
                                
                                   @foreach (Category category in (List<Category>)ViewData["listCategoryName"]) {
                                    <ul>
                                     
                                             <li>@category.name</li>
                                    </ul>
                                    
                                }
                                </div>

                            </div>
                            <div class="single_product_menu d-flex">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="search"
                                           aria-describedby="inputGroupPrepend">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend">
                                            <i class="ti-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!---------   LIST PRODUCT   ------------->
                <div class="row align-items-center latest_product_inner">
                    @foreach (Product item in Model)
                    {
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product_item">
                                <img src="https://localhost:44342/Style/default/img/images/@item.slug@ViewData["jpg"]" alt="thumbnail" class="thumbnail" />
                                <div class="single_product_text">
                                    <a href="/Product/Index/@item.id"> <h4>@item.name</h4></a>
                                    @{string price = String.Format("{0:#,##0.0}", item.price);

                                        <h3>@price VND</h3>}
                                        <a href="https://localhost:44342/Cart/cart?status=true&id=@item.id" class="add_cart">Add to cart</a>
                                    </div>
                            </div>
                        </div>
                    }

                        
                    </div>
            </div>
        </div>
    </div>
</section>
<!--================End Category Product Area =================-->
<!-- product_list part end-->
