
@{

}



<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Lịch sử giao dịch</h3>
                        </div>
                        <a href="@Url.Action("Export_Excel","History")" class="btn btn-primary stretched-link">in</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush data-product">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" style="text-align: center;">STT</th>
                                <th scope="col" style="text-align: center;">Họ Và Tên</th>
                                <th scope="col" style="text-align: center;">Email</th>
                                <th scope="col" style="text-align: center;">Địa Chỉ</th>
                                <th scope="col" style="text-align: center;">Sản Phẩm</th>
                                <th scope="col" style="text-align: center;">Số lượng</th>
                                <th scope="col" style="text-align: center;">Gía</th>
                                <th scope="col" style="text-align: center;">Ngày mua</th>
                                <th scope="col" style="text-align: center;">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var history in ViewBag.list)
                            {
                            <tr>
                                <td style="text-align: center;">@history.stt</td>
                                <td style="text-align: center;">@history.fullName </td>
                                <td style="text-align: center;">@history.email</td>
                                <td style="text-align: center;">@history.address</td>
                                <td style="text-align: center;">@history.nameProduct</td>
                                <td style="text-align: center;">@history.quantity</td>
                                <td style="text-align: center;">@String.Format("{0:#,##0.0}", @history.price) VNĐ</td>
                                <td style="text-align: center;">@history.createAt</td>
                                <td style="text-align: center;">@String.Format("{0:#,##0.0}", @history.total) VNĐ</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
