@using Project.Models
@{
    ViewBag.Title = "cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid product_list section_padding"  >
    <div class="container-fluid list_prod d-flex justify-content-center">
        <div class="row cart_prod_row container" >
            <div class="container cart" >
                <div class="row title">
                    <div class="col-md-12">
                        <h3 style="text-align: center; margin-bottom:50px" >
                            Giỏ hàng của bạn
                        </h3>
                    </div>
                </div>

                <div class="container pro_num_cart well" style="margin: 5px 50px">



                    <!--

       <div class="row border border-success border-right-0 border-top-0 border-left-0  ">

        <div class="col-md-2">
            <p>
                <b></b>
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <b>	Name</b>
            </p>
        </div>
        <div class="col-md-2">
            <p>
                <b>	Price</b>
            </p>
        </div>

        <div class=col-md-2>
            <p>
                <b>Quantity</b>
            </p>
        </div>
        <br>
    </div>
     -->
                    <br>

                    @foreach (ItemInCart item in (List<ItemInCart>)Session["cart"])
                    {
                <div class="row cart_item_new container d-flex justify-content-between flex-nowrap">

                    <div class="w-100 d-flex align-items-start">
                        <div class="wrap_thumbnail">
                            <img src="https://localhost:44342/Style/default/img/images/@item.Product.slug@ViewData["jpg"]" alt="thumbnail" class="thumbnail" />
                        </div>

                        <div class="wrap_title">
                            <p class="title">
                                @item.Product.name
                            </p>
                        </div>
                    </div>

                    <div class="wrap_action d-flex align-items-end flex-column">
                        <div class="action_remove">
                            <a class="btn btn-default" href="/Cart/cart?id=@item.Product.id&action=Remove&status=true"><i class="fas fa-trash"></i></a>
                        </div>

                        <p class="action_price">
                            @String.Format("{0:#,##0.0}", item.Product.price) VND
                        </p>
                        <div class="wrap_control d-flex">
                            <div>
                                <a class="btn btn-success" href="/Cart/cart?id=@item.Product.id&action=Increase&status=true">+</a>
                            </div>
                            <div class="d-flex align-items-center mx-2">
                                <p style="font-weight : 500">@item.Quantity</p>
                            </div>
                            <div>
                                <a class="btn btn-danger" href="/Cart/cart?id=@item.Product.id&action=Decrease&status=true">-</a>
                            </div>
                        </div>
                    </div>





                    <!--

                            <div class="col-md-2">

                                    <div class="">
                                        <img src="https://localhost:44342/Style/default/img/images/@item.Product.slug@ViewData["jpg"]" alt="thumbnail" class="thumbnail" />
                                    </div>

                                </div>
                            <div class="col-md-3">
                                <p class="name-prod">@item.Product.name</p>
                            </div>

                            <div class="col-md-2">
                                @{string price = String.Format("{0:#,##0.0}", item.Product.price);

                                <p class="price-prod">@price VND</p>}
                            </div>

                            <div class=col-md-2>
                                <p>@item.Quantity</p>
                            </div>
                            <div class=col-md-1>

                                <a class="btn btn-success" href="/Cart/cart?id=@item.Product.id&action=Increase&status=true">+</a>
                            </div>
                            <div class=col-md-1>

                                <a class="btn btn-danger" href="/Cart/cart?id=@item.Product.id&action=Decrease&status=true">-</a>
                            </div>
                            <div class=col-md-1>

                                <a class="btn btn-default" href="/Cart/cart?id=@item.Product.id&action=Remove&status=true"><i class="fas fa-trash"></i></a>
                            </div>
    -->


                </div>}

                    <div class="row d-flex justify-content-between px-3">
                        <p style=" font-size: 24px; font-weight: 500">
                            Tổng tiền
                        </p>
                        <p style="font-size: 24px; font-weight: 500; color: #f2405d">
                            @{ List<ItemInCart> cart = (List<ItemInCart>)Session["cart"];
                                var total = cart.Sum(item => item.Quantity); }
                            @String.Format("{0:#,##0.0}", cart.Sum(item => item.Product.price * item.Quantity)) VND
                        </p>
                    </div>

                    <div class="row px-2" style="height : 0; overflow : hidden" id="form_location">
                        <div class="form-group col-12">
                            <label for="exampleFormControlInput1">
                                Địa chỉ nhận hàng
                            </label>
                            <input type="text" class="form-control" id="diaChiNhanHang" placeholder="Nhập địa chỉ">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-end px-3">
                        <div class="d-flex">
                            @{ var nameUser = ViewData["nameUser"]; }
                            @if (nameUser != null)
                            {
                            <p class="idUser" style="opacity : 0"> @ViewData["idUser"] </p>
                                <a href="#" class=" btn btn-success popup_checkout" data-islocation="false" id="handle_thanhToan"> Thanh toán</a> 

                                <!--   <a class=" btn btn-success popup_checkout" href="/Cart/PaymentDetails">Thanh toán</a>  --> 
                                 }

                                                    else
                                                    {
                                        <span class=" btn btn-success popup_checkout" onClick="hihi()" style="cursor : pointer">Thanh toán</span>}

                            <script src="~/Style/default/js/jquery-1.12.1.min.js"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.16.6/sweetalert2.all.min.js" integrity="sha512-jQxNe7fqaqehR3t/JfoxC8y2dwkEIL/7a6JWbs6sQdSCI/6Kd0t2okI9nhuKeSUgM5JDTDgdUzLzSPovB2lOBQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                            <script>
                                function hihi() {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Bạn cần đăng nhập để thực hiện chức năng này',
                                        confirmButtonText: 'Đồng ý'
                                    })
                                }
                                let buttonThanhToan = document.querySelector('#handle_thanhToan');
                         
                                function handleCLick(e) {
                                    e.preventDefault()
                                    let buttonThanhToan = document.querySelector('#handle_thanhToan');
                                    let isHaveLocation = buttonThanhToan.dataset.islocation
                                    console.log('isHaveLocation  ', isHaveLocation)
                                    let formLocation = document.querySelector('#form_location')
                                    if (isHaveLocation && isHaveLocation == "true") {
                                        let inputDiaChi = document.querySelector('#diaChiNhanHang')
                                        let valueDiaChi = inputDiaChi.value

                                        if (valueDiaChi.length == 0) {
                                            Swal.fire({
                                                icon: 'error',
                                                title: 'Vui lòng nhập địa chỉ nhận hàng',
                                                confirmButtonText: 'Đồng ý'
                                            })
                                        } else {
                                            Swal.fire({
                                                icon: 'success',
                                                title: 'Thanh toán thành công',
                                                confirmButtonText: 'Đồng ý'
                                            }).then((result) => {
                                                if (result.isConfirmed) {
                                                    window.location.href = `/Cart/payment?address=${valueDiaChi}`
                                                }
                                            })
                                            
                                        }
                                    } else {
                                        formLocation.style.height = 'auto'
                                        formLocation.style.transition = 'all 0.4s'
                                        buttonThanhToan.dataset.islocation = 'true'
                                    }
                                }

                                buttonThanhToan.addEventListener('click', handleCLick)

                            </script>

                        </div>
                    </div>

                    <div class="row "
                         style="padding-top: 40px; display: none">
                        <div class="col-md-2">
                            <p class="amount">
                                <b>Total:</b>


                                @total
                            </p>
                        </div>
                        <div class="col-md-3">

                            <p class="total_price">
                                <b>Cost:</b>

                                @{ string cost = String.Format("{0:#,##0.0}", cart.Sum(item => item.Product.price * item.Quantity)); }
                                @cost

                            </p>

                        </div>
                        <div class="col-md-5">


                            <a class=" btn btn-success popup_checkout" href="/Cart/PaymentDetails">Buy</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





       